


/* ========== SECTION 3 - content animation ========== */
.section .project-name h1,
.section .project-name p {
  transform: translateY(250px);
	opacity: 0;
	transition: transform 1.30s cubic-bezier(0.50, 0.68, 0.43, 0.99),
				opacity 1s ease-in-out;

}
.section.active .project-name h1,
.section.active .project-name p {
  transform: translateY(0);
	opacity: 1;
}

.section.active .project-name p {
	transition-delay: 0.15s;
}
