



/* ========== SECTION 3 - content animation ========== */

.mask-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mask {
  z-index: 99;
  background-color: #141417;
  height: 1200px;
  position: relative;
}

.section .mask{
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);

  -webkit-transition: all 1.20s 100ms ease-in-out;
          transition: all 1.20s 100ms ease-in-out;
opacity: 1;
}

.section.active .mask{
  -webkit-transform: translateY(-1200px);
      -ms-transform: translateY(-1200px);
          transform: translateY(-1200px);
  opacity: 1;
}





.section .index-project-name h1,
.section .index-project-name p {
  transform: translateY(500px);
	opacity: 0;
  -webkit-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
  -moz-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
  -o-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
  -ms-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
	transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
				opacity 2.30s ease-in-out;
        transition-delay: 0.20s;


}
.section.active .index-project-name h1,
.section.active .index-project-name p {
  transform: translateY(0);
	opacity: 1;
}



.section .bgimg {
  transform: translateY(10px);
  opacity: 1;
  transition: transform 2s cubic-bezier(0.50, 0.68, 0.43, 0.99),
  -webkit-transition: 2s cubic-bezier(0.50, 0.68, 0.43, 0.99),
  -moz-transition: 2s cubic-bezier(0.50, 0.68, 0.43, 0.99),
  -o-transition: 2s cubic-bezier(0.50, 0.68, 0.43, 0.99),
  -ms-transition: 2s cubic-bezier(0.50, 0.68, 0.43, 0.99),
        opacity 1s ease-in-out;
}

.section.active .bgimg {
  transform: translateY(0px);
  opacity: 1;
}



.menu-container {
    transform: translateY(100vh);
}
.menu-container.transform {
  -webkit-transition:  all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition:  all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition:  all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition:  all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1),
  opacity 1s ease-in;
}
.menu-container.transform-active {
  transform: translateY(0);
}


.menu {
  transform: translateY(500px);
  opacity: 0;
  transition-delay: 0.30s;
  transition: 1.40s;
}
.menu.transform-active {
  opacity: 1;
	transform: translateY(0);
}


/*---preloader------*/



/*----first------animation----*/
.intro .name,
.intro .title,{
  overflow: hidden;
}

.preloader .intro .name h2{
  -webkit-transform: translateY(-600%);
      -ms-transform: translateY(-600%);
          transform: translateY(-600%);

          -webkit-transition: all 800ms 100ms ease-in-out;
                  transition: all 800ms 100ms ease-in-out;
}
.preloader .intro .title p {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);

          -webkit-transition: all 1.20s 300ms ease-in-out;
                  transition: all 1.20s 300ms ease-in-out;

}
.preloader.transform-active .name h2,
.preloader.transform-active .intro p {
  transform: translateY(0px);
  opacity: 1;
}

/*----2nd------animation----*/




.loaded .preloader .intro .name h2 {
  -webkit-transform: translateY(-600%);
      -ms-transform: translateY(-600%);
          transform: translateY(-600%);

          -webkit-transition: all 800ms 650ms ease-in-out;
                  transition: all 800ms 650ms ease-in-out;
}

.loaded .preloader .intro .title p {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);

          -webkit-transition: all 1.20s 100ms ease-in-out;
                  transition: all 1.20s 100ms ease-in-out;


}




.loaded #preloader {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 1s 2s ease-in-out;
                transition: all 1s 2s ease-in-out;
}



.logo h2.
.about-button p a{
color: #141417;
opacity: 0.5;
}
.logo.transform h2,
.about-button.transform p a{
  -webkit-transition: all 1s 1s ease-in-out;
          transition: all 1s 1s ease-in-out;

}
.logo.transform-active h2,
.about-button.transform-active p a {
  color: #141417;
  opacity: 0.5;
}

/* .background-fixed .line{
background-color: white;
opacity: 0.10;
}
.background-fixed.transform .line {
  -webkit-transition: all 1s 1s ease-in-out;
          transition: all 1s 1s ease-in-out;

}
.background-fixed.transform-active .line {
  background-color: #141417;
  opacity: 0.10;
} */




/*------lines-draw------*/




.background-fixed span.line.top{
  opacity: 0;
  -webkit-transform: translateX(-600%);
      -ms-transform: translateX(-600%);
          transform: translateX(-600%);

          -webkit-transition: all 4s 2.30s ease-in-out;
                  transition: all 4s 2.30s ease-in-out;

}


.background-fixed span.line.bottom{
  opacity: 0;
  -webkit-transform: translateX(600%);
      -ms-transform: translateX(600%);
          transform: translateX(600%);

          -webkit-transition: all 4s 2.30s ease-in-out;
                  transition: all 4s 2.30s ease-in-out;

}

.background-fixed span.line.left{
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 4s 2.30s ease-in-out;
                  transition: all 4s 2.30s ease-in-out;

}


.background-fixed span.line.right{
  opacity: 0;
  -webkit-transform: translateY(-600%);
      -ms-transform: translateY(-600%);
          transform: translateY(-600%);

          -webkit-transition: all 4s 2.30s ease-in-out;
                  transition: all 4s 2.30s ease-in-out;

}


.background-fixed.transform-active span.line.top,
.background-fixed.transform-active span.line.bottom,
.background-fixed.transform-active span.line.left,
.background-fixed.transform-active span.line.right{
  transform: translateY(0px);
  opacity: 0.10;
}



/*
.loaded .background-fixed .line.top {
  transform: translateY(0px);
  opacity: 0.10;
}


.loaded .background-fixed .line.top{
transition-delay: 5s;
} */ */


/*

.loaded .background-fixed .line.top {
    opacity: 0;
    -webkit-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
            transform: translateY(-400px);

    -webkit-transition: all 2.20s ease-in-out;
