



/* ========== SECTION 3 - content animation ========== */

/* .mask-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 800ms 0s ease-in-out;
          transition: all 800ms 0s ease-in-out;
}

.mask {
  z-index: 99;
  background-color: #141417;
  height: 1200px;
  position: relative;
}

.section .mask{
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);

  -webkit-transition: all 1.20s 100ms ease-in-out;
          transition: all 1.20s 100ms ease-in-out;
opacity: 1;
}

.section.active .mask{
  -webkit-transform: translateY(-1200px);
      -ms-transform: translateY(-1200px);
          transform: translateY(-1200px);
  opacity: 1;
} */





/* .section .index-project-name h1,
.section .index-project-name p {
  transform: translateY(500px);
	opacity: 0;
  -webkit-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
  -moz-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
  -o-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
  -ms-transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
	transition: transform 3s cubic-bezier(0.50, 0.68, 0.43, 0.99);
				opacity: 2.30s ease-in-out;
        transition-delay: 0.20s;


}
.section.active .index-project-name h1,
.section.active .index-project-name p {
  transform: translateY(0);
	opacity: 1;
} */





.menu-container.transform {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);

  -webkit-transition: all 1.10s 700ms ease-in-out;
          transition: all 1.10s 700ms ease-in-out;
}
.menu-container.transform-active {
  transform: translateX(0);
  -webkit-transition: all 800ms 0s ease-in-out;
          transition: all 800ms 0s ease-in-out;
}


.menu-item.one{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 300ms ease-in-out;
          transition: all 800ms 300ms ease-in-out;
        opacity: 0;

}

.menu-item.two{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 400ms ease-in-out;
          transition: all 800ms 400ms ease-in-out;
        opacity: 0;

}

.menu-item.three{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 500ms ease-in-out;
          transition: all 800ms 500ms ease-in-out;
        opacity: 0;

}

.menu-item.four{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 600ms ease-in-out;
          transition: all 800ms 600ms ease-in-out;
        opacity: 0;

}
.menu-item.five{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 700ms ease-in-out;
          transition: all 800ms 700ms ease-in-out;
        opacity: 0;

}

.menu-item.six{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 800ms ease-in-out;
          transition: all 800ms 800ms ease-in-out;
        opacity: 0;

}

.menu-item.seven{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 900ms ease-in-out;
          transition: all 800ms 900ms ease-in-out;
        opacity: 0;

}
.menu-item.eight{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

  -webkit-transition: all 800ms 1s ease-in-out;
          transition: all 800ms 1s ease-in-out;
        opacity: 0;

}
.menu-item.transform-active {
	transform: translateY(0);
    opacity: 1;
}


/*---preloader------*/



/*----first------animation----*/

.intro-line {
  -ms-transform: scale(0.0, 1.0); /* IE 9 */
  -webkit-transform: scale(0.0, 1.0); /* Safari */
  -moz-transform: scale(0.0, 1.0);
  -o-transform: scale(0.0, 1.0);
  transform: scale(0.0, 1.0);
  opacity: 0;

          -webkit-transition: all 800ms 600ms ease-in-out;
                  transition: all 800ms 600ms ease-in-out;
}

.intro .name,
.intro .title,{
  overflow: hidden;
}

.preloader .intro .name h2{
  -webkit-transform: translateY(700%);
      -ms-transform: translateY(700%);
          transform: translateY(700%);

          -webkit-transition: all 1.20s 850ms ease-in-out;
                  transition: all 1.20s 850ms ease-in-out;
}
.preloader .intro .title p {
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);

          -webkit-transition: all 1.20s 850ms ease-in-out;
                  transition: all 1.20s 850ms ease-in-out;

}
.preloader.transform-active .name h2,
.preloader.transform-active .intro p {
  transform: translateY(0px);
  opacity: 1;
}

.preloader.transform-active  .intro-line {
  -ms-transform: scale(1.0, 1.0); /* IE 9 */
  -webkit-transform: scale(1.0, 1.0); /* Safari */
  -moz-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
  opacity: 1;
}


/*----2nd------animation----*/



.loaded .preloader .intro-line {
  -ms-transform: scale(0.0, 1.0); /* IE 9 */
  -webkit-transform: scale(0.0, 1.0); /* Safari */
  -moz-transform: scale(0.0, 1.0);
  -o-transform: scale(0.0, 1.0);
  transform: scale(0.0, 1.0);
  opacity: 0;
          -webkit-transition: all 700ms 900ms ease-in-out;
                  transition: all 700ms 900ms ease-in-out;

}


.loaded .preloader .intro .name h2 {
  -webkit-transform: translateY(700%);
      -ms-transform: translateY(700%);
          transform: translateY(700%);

        -webkit-transition: all 1.20s 200ms ease-in-out;
                transition: all 1.20s 200ms ease-in-out;
}

.loaded .preloader .intro .title p {
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);

          -webkit-transition: all 1.20s 200ms ease-in-out;
                  transition: all 1.20s 200ms ease-in-out;


}




.loaded #preloader {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 1s 1.40s ease-in-out;
                transition: all 1s 1.40s ease-in-out;
}









/*-------OPENING-ANIMATION------*/

/*------lines-draw------*/




.background-fixed span.line.top{
  opacity: 0;
  -webkit-transform: translateX(-600%);
      -ms-transform: translateX(-600%);
          transform: translateX(-600%);

          -webkit-transition: all 4s 0.50s ease-in-out;
                  transition: all 4s 0.50s ease-in-out;

}


.background-fixed span.line.bottom{
  opacity: 0;
  -webkit-transform: translateX(600%);
      -ms-transform: translateX(600%);
          transform: translateX(600%);

          -webkit-transition: all 4s 0.50s ease-in-out;
                  transition: all 4s 0.50s ease-in-out;

}

.background-fixed span.line.left{
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 4s 0.50s ease-in-out;
                  transition: all 4s 0.50s ease-in-out;

}


.background-fixed span.line.right{
  opacity: 0;
  -webkit-transform: translateY(-600%);
      -ms-transform: translateY(-600%);
          transform: translateY(-600%);

          -webkit-transition: all 4s 0.50s ease-in-out;
                  transition: all 4s 0.50s ease-in-out;

}


.loaded .background-fixed span.line.top,
.loaded .background-fixed span.line.bottom,
.loaded .background-fixed span.line.left,
.loaded .background-fixed span.line.right{
  transform: translateY(0px);
  opacity: 0.10;
}





/*----LOGO-----*/


.logo{
  -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
          transform: translateY(300%);

          -webkit-transition: all 2s 1.20s ease-in-out;
                  transition: all 2s 1.20s ease-in-out;
                  /* opacity: 0;
                  opacity: all 5s ease-in-out; */
}


.about p{
  -webkit-transform: translateY(220%);
      -ms-transform: translateY(220%);
          transform: translateY(220%);

          -webkit-transition: all 2s 1.20s ease-in-out;
                  transition: all 2s 1.20s ease-in-out;
                  /* opacity: 0;
                  opacity: all 5s ease-in-out; */
}

.projects p{
  -webkit-transform: translateY(220%);
      -ms-transform: translateY(220%);
          transform: translateY(220%);

          -webkit-transition: all 2s 1.20s ease-in-out;
                  transition: all 2s 1.20s ease-in-out;
                  /* opacity: 0;
                  opacity: all 5s ease-in-out; */
}

.loaded .logo,
.loaded .about p,
.loaded .projects p{
  transform: translateY(0px);
  transform: translateX(0px);
  /* opacity: 0.5; */
}



.bgimg {

  -webkit-transition: all 2s 2.40s ease-in-out;
          transition: all 2s 2.40s ease-in-out;

        opacity: 0;
}

 .loaded .bgimg{
  opacity: 1;
}



/*--------clicking-menu------ */

.logo-container.transform h2,
.about-button.transform p a{
  -webkit-transition: all 1s 1s ease-in-out;
          transition: all 1s 1s ease-in-out;

}
.logo-container.transform-active h2,
.about-button.transform-active p a{
  color: #141417;
}


.background-fixed.transform-active .line {
  background-color: #141417;
  -webkit-transition: all 400ms 0s ease-in-out;
          transition: all 400ms 0s ease-in-out;

}



.back-button .back p{
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
                    -webkit-transition: all 700ms 0s ease-in-out;
                            transition: all 700ms 0s ease-in-out;

}

.back-button.transform-active .back p{
  visibility: visible;
  color: #141417;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);



          -webkit-transition: all 1s 200ms ease-in-out;
                  transition: all 1s 200ms ease-in-out;

}



.project-button.transform-active .projects p{
  visibility: hidden;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);

          -webkit-transition: all 800ms 0s ease-in-out;
                  transition: all 800ms 0s ease-in-out;
}




/*----project-name-animation-----ON-LOAD------*/


.name-container h1:nth-child(1){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 1.30s 1.35s ease-in-out;
                  transition: all 1.30s 1.35s ease-in-out;

}


.name-container h1:nth-child(2){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 1.35s 1.35s ease-in-out;
                  transition: all 1.35s 1.35s ease-in-out;

}

.name-container h1:nth-child(3){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 1.40s 1.35s ease-in-out;
                  transition: all 1.40s 1.35s ease-in-out;

}


.name-container h1:nth-child(4){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 1.45s 1.35s ease-in-out;
                  transition: all 1.45s 1.35s ease-in-out;

}

.name-container h1:nth-child(5){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 1.55s 1.35s ease-in-out;
                  transition: all 1.55s 1.35s ease-in-out;

}


.name-container h1:nth-child(6){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2s 1.35s ease-in-out;
                  transition: all 2s 1.35s ease-in-out;
}

.name-container h1:nth-child(7){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.05s 1.35s ease-in-out;
                  transition: all 2.05s 1.35s ease-in-out;


}

.name-container h1:nth-child(8){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.10s 1.35s ease-in-out;
                  transition: all 2.10s 1.35s ease-in-out;


}



.name-container h1:nth-child(9){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.15s 1.35s ease-in-out;
                  transition: all 2.15s 1.35s ease-in-out;

}

.name-container h1:nth-child(10){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.20s 1.35s ease-in-out;
                  transition: all 2.20s 1.35s ease-in-out;

}

.name-container h1:nth-child(11){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.25s 1.35s ease-in-out;
                  transition: all 2.25s 1.35s ease-in-out;

}
.name-container h1:nth-child(12){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.30s 1.35s ease-in-out;
                  transition: all 2.30s 1.35s ease-in-out;

}

.name-container h1:nth-child(13){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 2.35s 1.35s ease-in-out;
                  transition: all 2.35s 1.35s ease-in-out;

}

.loaded .name-container h1{
  transform: translateY(0px);
  opacity: 1;

}


/*----project-name-animation-----ON-scroll------*/

/* .name-container h1:nth-child(1){
  opacity: 0;
  -webkit-transform: translateY(600%);
      -ms-transform: translateY(600%);
          transform: translateY(600%);

          -webkit-transition: all 1.30s 1.20s ease-in-out;
                  transition: all 1.30s 1.20s ease-in-out;

}

.loaded .name-container h1{
  transform: translateY(0px);
  opacity: 1;

} */
