/* Reset values
 * --------------------------------------- */
#fp-nav{
    z-index: 1000;
    font-size: 16px;
    color: red;
}

#fp-nav.left {
  left: 11%;

  }

  #Mercedes-Benz {
    color: green;
  }

#fp-nav ul li a span:not(.fp-sr-only){
    left: 0;
    top: 0;
}
#fp-nav ul li a.active span:not(.fp-sr-only),
#fp-nav ul li:hover a.active span:not(.fp-sr-only),
#fp-nav ul li:hover a span:not(.fp-sr-only),
#fp-nav ul li a span:not(.fp-sr-only){
    margin: 0;
    opacity: 1;
}
#fp-nav ul li a span:not(.fp-sr-only){
    position:relative;
    display: block;
    background: transparent;
}
#fp-nav ul li a.active span:not(.fp-sr-only),
#fp-nav ul li:hover a.active span:not(.fp-sr-only),
#fp-nav ul li:hover a span:not(.fp-sr-only),
#fp-nav ul li a span:not(.fp-sr-only){
    height: 12px;
    width: 12px;
    opacity: 1;
}
#fp-nav ul li {
    margin: 12px 7px;
}
#fp-nav ul li .fp-tooltip{
    top:0;
    line-height: 12px;
}

/* Extension
 * --------------------------------------- */
#fp-nav ul li a.active span:not(.fp-sr-only),
#fp-nav ul li:hover a.active span:not(.fp-sr-only),
#fp-nav ul li:hover a span:not(.fp-sr-only),
#fp-nav ul li a span:not(.fp-sr-only){
  height: 1em;
  width: 1em;
  margin-left: -1.2em;
  opacity: 1;
  color: red;

}
#fp-nav ul li {
    /* margin: 7px 7px; */
    vertical-align: top;
    height: auto;
    width: 22px;
}
.fp-tooltip{
    line-height: 30px;
}
#fp-nav ul li a span:not(.fp-sr-only)::before,
#fp-nav ul li a span:not(.fp-sr-only)::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

#fp-nav ul li a span:not(.fp-sr-only)::before {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

#fp-nav ul li a:not(.active) span:not(.fp-sr-only):focus::before,
#fp-nav ul li a:not(.active) span:not(.fp-sr-only):hover::before {
    -webkit-transform: scale3d(1.35,1.35,1);
    transform: scale3d(1.35,1.35,1);
    opacity: 1;
}

#fp-nav ul li a.active span:not(.fp-sr-only)::before {
    -webkit-transform: scale3d(0.35,0.35,1);
    transform: scale3d(0.35,0.35,1);
}

#fp-nav ul li a span:not(.fp-sr-only):after {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    opacity: 0;
    -webkit-transform: scale3d(0.35,0.35,1);
    transform: scale3d(0.35,0.35,1);
    -webkit-transition: -webkit-transform 0.5s, box-shadow 0.5s, opacity 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

#fp-nav ul li a.active span:not(.fp-sr-only)::after {
    opacity: 0.5;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    delay: 2s;
}
#fp-nav ul li .fp-tooltip {
    top: 0.1em;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 0.55em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align:right;
    opacity: 0.2;

}
#fp-nav.fp-right ul li .fp-tooltip{
    right: 1em;
}
#fp-nav.fp-left ul li .fp-tooltip{
    left: 1em;
}

#fp-nav ul li .fp-tooltip.left{
  left: unset;
  right: 50px;
  delay: 5s;
}

/* Colors
 * --------------------------------------- */
#fp-nav ul li a span:not(.fp-sr-only)::before {
    background: #E8E8E7;
    opacity: 0.3;
}
#fp-nav ul li a span:not(.fp-sr-only):after {
    box-shadow: inset 1px 1px 1px 1px #FFFFFF;
    opacity: 1;
}
#fp-nav ul li a.active span:not(.fp-sr-only)::after {
    box-shadow: inset 1px 1px 1px 1px #FFFFFF;
    opacity: 1;
}

/* Big
 * --------------------------------------- */
.fp-big-nav #fp-nav ul li {
    height: auto;
    width: 34px;
    vertical-align: top;
}
.fp-big-nav #fp-nav ul li a.active span:not(.fp-sr-only),
.fp-big-nav #fp-nav ul li:hover a.active span:not(.fp-sr-only),
.fp-big-nav #fp-nav ul li:hover a span:not(.fp-sr-only),
.fp-big-nav #fp-nav ul li a span:not(.fp-sr-only){
    height: 2.5em;
    width: 2.5em;
    opacity: 1;
}
.fp-big-nav #fp-nav ul li .fp-tooltip{
    line-height: 20px;
    top: 0.7em;
}
.fp-big-nav #fp-nav.fp-right ul li .fp-tooltip{
    right: 3em;
}
.fp-big-nav #fp-nav.fp-left ul li .fp-tooltip{
    left: 3em;
}
