
@media screen and (min-width: 100px) and (max-width: 1000px){
  .bgimg {
  height: 60vh;
  width: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
  .bgimg.project-three {
      background-position: center;
}

.project-header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: scroll;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
.column-one,
.column-two,
.column-three{
display: block;
}
}

@media screen and (min-width: 10px) and (max-width: 1000px)
and (orientation: portrait){
  .index-project-name h1{
    font-size: 300%;
}
.menu-right p a,
.menu-left .project-button p,
.menu-left .back-button p {
  font-size: 160%;
  text-align:center;
}
#preloader .preloader .intro {
  font-size: 125%;
}
.menu-top h2 {
  font-size: 7em;

}
.about-hello h6{
  font-size: 2em;
}
.about-info {
  width: 60%;
}
}


@media screen and (min-width: 10px) and (max-width: 1100px)
and (orientation: landscape){
  .menu-top {
    top: 7%;
  }
  .menu-item a {
    color: #141417;
    font-size: 90%;
    text-transform: uppercase;
    font-family: 'moderat';
}
.about-info {
  width: 60%;
  position: unset;
  margin: auto;
  /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, black)); */


}
.about-hello h6{
  font-size: 1.5em;
}
.footer-container {
position: inherit;
margin: 10% 0;
width: 100%;
height: auto;
bottom:auto;


}
.about-container{
  overflow-x: scroll;
  width: 100%;
  position: relative;
  bottom: 0;
  padding: 40% 0 15% 0;
  height: 100%;
}
/* .scroll-gradient{
  pointer-events: none;
  position: fixed;
  width: 100%;
  left: 0;
  height: 20rem;
  bottom: 0;
  background-image: linear-gradient(transparent, #141417);
  z-index: 10;
  pointer-events: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: flex-end;
} */
}




/* @media not all and (min-resolution:.001dpcm) {
    @media {
        .safari10 .project-header-image{
          background-attachment: scroll;
        }
    }
} */



@media screen and (min-width: 100px) and (max-width: 1000px){
  p, em{
  font-size: 130%;
}
}





@media screen and (min-width: 100px) and (max-width: 1000px){
.project-header-image.metpolice  {
  background-position: center;
}
}
