
@media screen and (min-width: 100px) and (max-width: 1000px){
  .bgimg {
  height: 70vh;
  width: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
}


@media screen and (min-width: 10px) and (max-width: 1000px){
  .index-project-name h1{
    font-size: 50px;
}
}
