html{

}
body {
  background-color: #141417;
    /* background-color: rgb(11,11,11); */

  font-family: 'Catamaran', sans-serif;
}

h1 {
  font-size: 30px;
  font-family: 'moderat';
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: rgb(31, 31, 31);
}

h2 {
  font-size: 30px;
  font-family: 'moderat';
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 10px;
}


h4 {
  font-size: 40px;
  font-family: 'moderat';
  font-weight: 300;
  text-align: left;
  color: rgb(31, 31, 31);
}
p {
  font-size: 18pxe;
  font-weight: 200;
  line-height: 35px;
}

h6 {
  font-size: 15px;
  font-weight:400;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav-container {
  height: 100vh;
  width: 100%;
  margin: auto;
}

#menu-button {
  z-index: 30;
  width: 100%;
  height: 100vh;
  float: left;
}

.right-side {
  z-index: 30;
}
.right-side p {
  font-size: 15px;
  text-align:center;
  position: relative;
  top: 50%;
  z-index: 20;
}

.right-side p a {
  color: rgb(31, 31, 31);
}


  button:focus { outline: none; }

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* #overflow {
overflow:hidden;
padding:0;
margin:0;
z-index: 1000;
} */

/*-----Hamburger-menu-----*/



/* Icon 1 */
/*
#nav-icon3 {
  width: 68px;
  height: 63px;
  position: fixed;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  opacity: 0.50;
  overflow: hidden;
}

#nav-icon3 span  {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #e8e8e8;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 30px;
}

#nav-icon3 span:nth-child(4) {
  top: 60px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #141417;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #141417;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  background: #141417;
} */





/*//------main-menu-page-------- */

.menu-container {
  width: 100%;
  height: 100vh;
  bottom: 0;
  position: fixed;
  letter-spacing: 0.3em;
  z-index: 8;
  overflow: scroll;
  background-color: #E8E8E7;
}
.menu {
  position: absolute;
  left: 50vw;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.menu-item{
  cursor: pointer;
  display: table;
  letter-spacing: .5rem;
  margin: 2em auto 2em auto;
  position: relative;
  white-space: nowrap;
  opacity: 1;
}

.menu-item a {
  color: #141417;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'moderat';

}

/* .menu li{
display: inline-block;
}
.menu li:after {
content: '';
display: block;
height: 1px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}

.menu li:hover:after {
width: 100%;
background: #141417;
} */


/*//------home-page-------- */



.background-fixed .line {
background-color: white;
opacity: 0.10;
position: fixed;
display: block;
z-index: 100;
}
.background-fixed .line.top {
width: 100%;
height: 1px;
top: 27.777%;
}
.background-fixed .line.left{
  height: 100%;
  width: 1px;
  left: 17.361%;
}
.background-fixed .line.right{
height: 100%;
width: 1px;
right: 17.361%;
}
.background-fixed .line.bottom{
  width: 100%;
  height: 1px;
  bottom: 27.777%;
}

.menu-top {
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  margin: auto;
  z-index: 100;
  width: 100%;
  top: 5%;

}
.menu-top h2 {
  color: #e8e8e8;
  text-align: center;
  font-size: 3em;
  opacity: 0.5;
  letter-spacing: 0px;
}

.logo-container {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: absolute;
}


/* .menu-left {
  position: fixed;
  width: 17.361%;
  top: 27.777%;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  /* display: -moz-box;      /* OLD: Firefox (buggy) */
  /* display: -ms-flexbox;   /* MID: IE 10 */
  /* display: -webkit-flex;
  /* display: flex;
  height: 44.446%;
  justify-content: center;
  align-items: center; */
  /* z-index: 100;
  } */

.menu-left {
  position: fixed ;
  height: 100%;
  width: 17.361%;
  top: 0;
  left: 0;
  z-index: 100;
}
.menu-right {
    position: fixed ;
    height: 100%;
    width: 17.361%;
    top: 0;
    right: 0;
    z-index: 100;
  }

.about-button,
.project-button,
.back-button {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 27.777%;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  height: 44.446%;
  -webkit-justify-content: space-between;
  justify-content: center;
  align-items: center;
  right: 0;
  -webkit-transform:rotateZ(-90deg);
  overflow: hidden;
}

.back-button {
visibility: hidden;
}

  .menu-right p,
  .menu-left p {
    font-size: 15px;
    text-align:center;
  }

  .menu-right  p a,
  .menu-left  p {
    font-weight: 700;
    color: #e8e8e8;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .about-button {
    transform: rotate(90deg);
    }







.index-project-name {
    width: 100%;
    display: block;
    position: absolute;
    top: 56%;
    left: 0;
    z-index: 1;
    overflow: hidden;

}
.index-project-name h1 {
  letter-spacing: 5px;
  color: white;
  display: inline-block;
}

.index-project-name .padding-right{
  padding-right: 0.3em;
}

.index-project-name .padding-left{
  padding-left: 0.3em;
}


.index-project-name p{
  position:relative;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.name-container {
text-align: center;
}

.name-container.project-two h1 {
color: #141417;
}
/*------about page----- */

.about-container{
height: 100vh;
width: 100%;
position: relative;
}


.about-container .header-container {
  top: 60%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 25%;

}

.about-background {
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.about-info {
  top: 40%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 25%;
}
.about-info em{
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
}

.about-container h3 {
  text-align: center;
  font-size: 20vw;
  color:rgb(31, 31, 31);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color:rgb(31, 31, 31);
  position: relative;
  left: 0;
  bottom: 0;
}
.about-container p {
  position: relative;
  left: 0;
  bottom: 0;
}
.about-container .header-container h6,
.about-container .header-container h6 a,
.about-container .header-container p{
  text-align: left;
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 25px;
  font-weight: 300;
  color: rgb(31, 31, 31);

}

.about-container .header-container p{
  font-size: 15px;
}


  /*-----pre-loader----*/

  #preloader {
  background-color: #e8e8e8;

  z-index: 1000;
  height: 100vh;
  width: 100%;
  position: fixed;

  }

.preloader{
  overflow: hidden;
  height: 100vh;
  width: 100%;

}

  .intro{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-table;
    }

    .name {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .intro-line {
      background-color: #141417;
      opacity: 0.5;
      display: block;
      z-index: 100;
      width: 100%;
      height: 1px;
      left: 50%;
      right: 50%;
      top: 50%;
      margin: auto;
      top: 50%;
    }

    .title {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    #preloader .intro h2 {
    text-align: center;
    line-height: 10px;
    color: #141417;
    font-weight: 100;
    display: inline-block;
    position: relative;
    padding-left: 0.6em;
    font-size: 2.1em;
  }

    #preloader .intro p{
    font-size: 1.15em;
    text-align: center;
    color: #141417;
    font-weight: 100;
    /* margin: 0; */
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-family: inherit;
  }












  .bgimg {
    height: 75vh;
    width: 70%;
    background-image: url("../images/index-mercedes-benz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
  }

  .bgimg.project-two {
    background-image: url("../images/index-dla-piper.jpg");
  }
