html{

}
body {
  background-color: white;
  color: #574d97;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 65px;
  font-family: 'moderat';
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #574d97;
}

h2 {
  font-size: 20px;
  /* font-family: 'Frank Ruhl Libre', serif; */
  font-weight: 100;
  letter-spacing: 2px;
}


p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 35px;
}

h6 {
  font-size: 14px;
  font-weight:500;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav-container {
  height: 100%;
  width: 100%;
  margin: auto;
  background: green;
}

#menu-button {
  z-index: 10;
  margin-left:auto;
  float: right;
  font-weight: 100px;
}

  button:focus { outline: none; }

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}




/*//------main-menu-page-------- */

.menu-container {
  width: 100%;
  height: 100vh;
  bottom: 0;
  position: fixed;
  letter-spacing: 0.3em;
  z-index: 9;
  overflow: scroll;
  background: #e8e8e8;
}
.menu {
  top: 50%;
  Left: 50%;
  position: absolute;
  background-color: red;
}
.menu ul {
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.menu ul li{
  top: auto;
  white-space: nowrap;
  text-align: center;
  margin: 2.7vh;
}
.menu ul li a{
  font-family: 'moderat';
  font-size: 27px;
  color: #574d97;
  text-decoration: none;
  line-height: 3em;
  text-align: center;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}



/* .menu li{
display: inline-block;
}
.menu li:after {
content: '';
display: block;
height: 1px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}

.menu li:hover:after {
width: 100%;
background: white;
} */


/*//------home-page-------- */


.background-fixed img {
  position: fixed;
  z-index: 0;
  max-width:100%;
  height:auto;
  display: inline;
  opacity: 0.5;
}

.intro-container {
height: 100vh;
}

.header-container {
  width: 100%;
  height: 50px;
  margin: auto;
  position: absolute;
  bottom: 20px;

}
.header-container h6{
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  color: #574d97;
  opacity: 0.5;
}

.intro{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 40%;
  transform: translate(50%, -50%);
}
.intro h2 {
  text-align:left;
  line-height: 50px;
}

.intro h2 em {
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
}

.index-project-one-container{
  height: 100vh;
  width: 100%;
  position: relative;

}
.index-project-item{
  width:957px;
  height:450px;
  bottom: 0;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 0;
}
.project-name {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}
.project-name h1 {
  position:relative;
  letter-spacing: 10px;
  line-height: 0px
}
.project-name p{
  position:relative;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  color:#574d97;
}


.index-project-one {
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  height: 555px;
  width: 1000px;
  position: relative;
  overflow: hidden;
}

.index-project-item img {
  max-width:100%;
  max-height:100%;
  overflow: hidden;
}


.index-project-two-container{
  height: 100vh;
  width: 100%;
  position: relative;
}

.index-project-three-container{
  height: 100vh;
  width: 100%;
  position: relative;
}


/*------about page----- */

.about-container{
height: 100vh;
width: 100%;
position: relative;
}


.about-container .header-container {
  top: 70%; left: 20%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 25%;

}

.about-background {
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 80%;
}

.about-info {
  top: 30%; left: 20%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 25%;
}
.about-info em{
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
}

.about-container h3 {
  text-align: center;
  font-size: 500px;
  color: transparent;
  -webkit-text-stroke-width: 0.30px;
  -webkit-text-stroke-color: #5f5e5e;
  position: relative;
  left: 0;
  bottom: 0;
}
.about-container p {
  position: relative;
  left: 0;
  bottom: 0;
}
.about-container .header-container h6,
.about-container .header-container h6 a,
.about-container .header-container p{
  text-align: left;
  position: relative;
  left: 0;
  bottom: 0;
  font-size: 25px;
  font-weight: 300;
}

.about-container .header-container p{
  font-size: 15px;
  color: #5f5e5e;
