html{

}
body {
  /* background-color: #141417; */
  background-color: #000326;
  color: #DAA520;
    /* background-color: rgb(11,11,11); */

  font-family: 'Catamaran', sans-serif;

}


h1 {
  font-size: 30px;
  font-family: 'moderat';
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: #DAA520;
  /* color: rgb(31, 31, 31); */
}

h2 {
  font-size: 30px;
  font-family: 'moderat';
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 10px;
  color: #DAA520;
}
h4 {
  font-size: 40px;
  font-family: 'moderat';
  font-weight: 300;
  text-align: left;
  color: #DAA520;
}
p {
  font-size: 18px;
  font-weight: 200;
  line-height: 35px;
  color: #e8e8e8;
}

h6 {
  font-size: 15px;
  font-weight:400;
  color: #DAA520;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav-container {
  height: 100vh;
  width: 100%;
  margin: auto;
}

#menu-button {
  z-index: 30;
  width: 100%;
  height: 100vh;
  float: left;
}

.right-side {
  z-index: 30;
}
.right-side p {
  font-size: 15px;
  text-align:center;
  position: relative;
  top: 50%;
  z-index: 20;
}

a {
color: #DAA520;
}


  button:focus { outline: none; }

a {
  color: #DAA520;
  text-decoration: none;
}

li {
  list-style-type: none;
}

em {
  font-style: normal;
  font-weight: bold;
}


/*//------main-menu-page-------- */

.menu-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 110;
  /* background-color: #E8E8E7; */
}
.menu {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.menu-item{
  cursor: pointer;
  display: block;
  margin: 10% 0 0 0;
  position: relative;
  opacity: 1;
}

.menu-item.one{
  margin: 0 0 0 0;
}
.menu-item a {

  font-size: 180%;
  text-transform: uppercase;
  font-family: 'moderat';
  letter-spacing: .5rem;
}




.menu-item a{
display: inline-block;
}
.menu-item a:after {
content: '';
display: block;
height: 1px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}

.menu-item a:hover:after {
width: 100%;
background: #DAA520;
}



.enter-button-container {

  width: 100%;
  position: relative;
  margin: auto;
  top: 80%;
}
.btn-cont.enter .btn {
    position: relative;
    padding: 20px 70px;
    border: 1px solid #000326;
    color: #000326;
    text-decoration: none;
    font-size: 1.125em;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}

.btn-cont.enter .btn a {
color: #DAA520;
text-decoration: none;

}
/*//------home-page-------- */



.background-fixed .line {
background-color: white;
opacity: 0.10;
position: fixed;
display: block;
z-index: 100;
}
.background-fixed .line.top {
width: 100%;
height: 1px;
top: 27.777%;
}
.background-fixed .line.left{
  height: 100%;
  width: 1px;
  left: 17.361%;
}
.background-fixed .line.right{
height: 100%;
width: 1px;
right: 17.361%;
}
.background-fixed .line.bottom{
  width: 100%;
  height: 1px;
  bottom: 27.777%;
}

.menu-top {
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  margin: auto;
  z-index: 120;
  width: 100%;
  top: 5%;

}
.menu-top h2 {
  /* color: #e8e8e8; */
  text-align: center;
  font-size: 3em;
  opacity: 1;
  letter-spacing: 0px;
}

.logo-container {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.logo img{
  display: block;
  opacity: 1;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.logo img:hover {
  color:red;
  opacity: 0.2;
  transition-duration: 1s;
}

/* .menu-left {
  position: fixed;
  width: 17.361%;
  top: 27.777%;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  /* display: -moz-box;      /* OLD: Firefox (buggy) */
  /* display: -ms-flexbox;   /* MID: IE 10 */
  /* display: -webkit-flex;
  /* display: flex;
  height: 44.446%;
  justify-content: center;
  align-items: center; */
  /* z-index: 100;
  } */

.menu-left {
  position: fixed ;
  height: 100%;
  width: 17.361%;
  top: 0;
  left: 0;
  z-index: 120;
}
.menu-right {
    position: fixed ;
    height: 100%;
    width: 17.361%;
    top: 0;
    right: 0;
    z-index: 120;
  }

.about-button,
.project-button,
.back-button,
.arrow-right{
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 27.777%;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;
  display: flex;
  height: 44.446%;
  -webkit-justify-content: space-between;
  justify-content: center;
  align-items: center;
  right: 0;
  -webkit-transform:rotateZ(-90deg);
  overflow: hidden;
}

.back-button {
visibility: hidden;
}

  .menu-right p,
  .menu-left p {
    font-size: 15px;
    text-align:center;
  }

  .menu-right  p a,
  .menu-left  p {
    font-weight: 700;

    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 20px;
    z-index: 101;
  }

  .about-button {
    transform: rotate(90deg);
    }

/* //--about-logos---- */

 .logos {
  background: red;
  position: inherit;
  display: inline-block;
  height: 300px;
}

.logos-row {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin-top: 2%;
}

.client-logo-container{
  width: 9%;
  display: table-cell;
  position: relative;
  padding: 3%;
}

.client-logo-container img {
  width: 100%;
  opacity: 1;
}

.client-logo-container img:hover {
  opacity: 0.6;
  transition-duration: 1s;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.project-left {
  position: fixed;
  height: 17.361%;
  width: 17.361%;
  bottom: 0;
  left: 0;
  z-index: 120;
  overflow: hidden;

  }

  .project-right {
  position: fixed;
  height: 17.361%;
  width: 17.361%;
  bottom: 0;
  right: 0;
  z-index: 120;
  overflow: hidden;
}

.arrow-left, .arrow-right {
  transform: rotate(0deg);
  opacity: 1;
  width: 30%;
  display: block;
  margin: auto;
  position: relative;
  height: 100%;
}
.arrow-left {
transform: rotate(0deg);
}

.menu-left a:after,
.menu-right a:after{
content: '';
display: block;
height: 1px;
width: 0px;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}

.menu-left a:hover:after,
.menu-right a:hover:after {
width: 100%;
background: #DAA520;
}

/*
.back a:after{
content: '';
display: block;
height: 1px;
width: 0px;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}


.back a:hover:after {
width: 100%;
background: red;
} */






.index-project-name {
    width: 100%;
    display: block;
    position: absolute;
    top: 53%;
    left: 0;
    z-index: 1;
    overflow: hidden;

}
.index-project-name h1 {
  letter-spacing: 5px;
  color: white;
  display: inline-block;
}

.index-project-name .padding-right{
  padding-right: 0.3em;
}

.index-project-name .padding-left{
  padding-left: 0.3em;
}


.index-project-name p{
  position:relative;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.name-container {
text-align: center;
}

.name-container.project-two h1 {
/* color: #141417; */
}




  .featured-projects-container {
     display: block;
     position: absolute;
     left: 20%;
     bottom: 5%;
     z-index: 1;
     overflow: hidden;

 }
  .featured-projects-container h4 {
   color: white;
   display: inline-block;
   margin: 0.1em;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #DAA520;
   font-weight: 500;
   font-size: 300%;
   opacity: 0.5;
   color: transparent;
   font-family: 'moderat';
 }
  .featured-projects-container .padding-right{
   padding-right: 0.3em;
 }

  .featured-projects-container .padding-left{
   padding-left: 0.3em;
 }




.featured-projects-number-container {
      display: block;
      position: absolute;
      right: 20%;
      bottom: 5%;
      z-index: 1;
      overflow: hidden;
}
.movingnumber-container{

}
.featured-projects-number-container h4{
  margin: 0.1em;
  font-weight: 500;
  font-size: 300%;
  opacity: 0.5;
  text-align: right;
  color: transparent;
  display: inline-block;
  font-family: 'moderat';
}


/*------about page----- */


.about-container{
width: 60%;
margin: auto;
position: relative;
z-index: 101;
padding: 5% 0 5% 0;
}
/* .about-hello {
  width: 100%;
  display: block;
  position: relative;
  left: 0;
  overflow: hidden;
  padding: 4% 0;
}
.about-hello h6 {
  letter-spacing: 0em;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.7em;
  font-weight: 900;
  padding: 0 0.5em;
  color: white;
  opacity: 0.1;
  text-align: center;
  margin: auto;
}
.about-hello .padding-right{
  padding-right: 1em;
}
.about-hello .padding-left{
  padding-left: 1em;
}
.about-hello-container {
text-align: center;
} */
.about-info {
  color: white;
  width: 90%;
  position: relative;
  margin: auto;
  position: relative;
  padding: 1% 0;
}
.about-info h1{
  text-transform: none;
  font-weight: 200;
  font-size: 10%;
  color: #DAA520;
  letter-spacing: 1em;
}
.about-container p {
  font-weight: 100%;
  position: relative;
  text-align: left;
  color: #e8e8e8;
}


.contact-container {
      width: 100%;
      position: relative;
      margin: auto;
      overflow: hidden;
      margin: auto;
      position: relative;
      padding: 0;

}
.contact-container h6,
.contact-container h6 a,
.contact-container p {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.5%;
  opacity: 1;
}
.contact-container p{
  font-size: 15px;
}
.mail-links{
  display: flex;
  position: relative;
  margin: auto;

}
.mail-links h6{
  text-align: center;
}
.mail-links h6 a:after {
content: '';
display: block;
height: 1px;
width: 0px;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
.mail-links h6 a:hover:after {
width: 100%;
background: #DAA520;
}
.footer-copy {
  display: block;
  position: absolute;
  margin-top: 6%;
  opacity: 0.3;
  padding-bottom: 3%;
}



.scroll-gradient.bottom{
  pointer-events: none;
  position: fixed;
  width: 100%;
  left: 0;
  height: 20rem;
  bottom: 0;
  background-image: linear-gradient(transparent, #141417);
  pointer-events: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: flex-end;
  z-index: 102;
}

/* .scroll-gradient.top{
  pointer-events: none;
  position: fixed;
  width: 100%;
  left: 0;
  height: 30rem;
  bottom: 0;
  background-image: linear-gradient(transparent, #141417);
  pointer-events: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: flex-end;
  z-index: 102;
  top: 0;
} */

.scroll-direcion-container.about{
  width: 100%;
  position: fixed;
  /* background: #141417; */
  height: 10%
  bottom: 5%;
  z-index: 12;
  /* color: #e8e8e8; */
  display: block;
  text-align: center;
  font-style: italic;
}






  /*-----pre-loader----*/

  #preloader {
  background-color: #e8e8e8;

  z-index: 1000;
  height: 100vh;
  width: 100%;
  position: fixed;

  }

.preloader{
  overflow: hidden;
  height: 100vh;
  width: 100%;

}

  .intro{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-table;
    }

    .name {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .intro-line {
      background-color: #000326;
      display: block;
      z-index: 100;
      width: 100%;
      height: 1px;
      left: 50%;
      right: 50%;
      top: 50%;
      margin: auto;
      top: 50%;
    }

    .title {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    #preloader .intro h2 {
    color:#000326;
    text-align: center;
    line-height: 10px;
    font-weight: 100;
    display: inline-block;
    position: relative;
    padding-left: 0.6em;
    font-size: 26px;
  }

    #preloader .intro p{
    color:#000326;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    /* margin: 0; */
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-family: inherit;
  }



  .bgimg {
    height: 75vh;
    width: 70%;
    background-image: url("../images/index-mercedes-benz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
  }

  .bgimg.project-ic24 {
    background-image: url("../images/ic-header.jpg");
    background-position: center;
  }

  .bgimg.project-met {
    background-image: url("../images/index-metpolice.jpg");
  }

  .bgimg.project-boots {
    background-image: url("../images/boots-header.jpg");
    background-position: left;
  }
  .bgimg.project-jlr {
    background-image: url("../images/jlr-header.jpg");
    background-position: center;
  }
  .bgimg.project-188 {
    background-image: url("../images/188bet-header.jpg");
    background-position: center;
  }
  .bgimg.project-soapbox {
    background-image: url("../images/soapbox_header.jpg");
    background-position: center;
  }
  .bgimg.project-findapet {
    background-image: url("../images/find-a-pet-header.jpg");
    background-position: center;
  }
  .bgimg.project-ccl {
    background-image: url("../images/ccl-header.jpg");
    background-position: center;
  }

  .bgimg.project-dlapiper{
    background-image: url("../images/dla-piper-index-header.jpg");
    background-position: center;
}

.bgimg.project-vodafone{
  background-image: url("../images/vf-index-header.jpg");
  background-position: center;
}

/* v */

/*------project-pages-----*/

.project-name {
    width: 100%;
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    overflow: hidden;

}
.project-name h4 {
  letter-spacing: 20px;
  color: #e8e8e8;
  display: inline-block;
  text-transform: uppercase;
  margin: 0.1em;
  padding-top: 2em;
}
.project-name .padding-right{
  padding-right: 0.3em;
}

.project-name .padding-left{
  padding-left: 0.3em;
}
.project-name p{
  position:relative;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project-name-container {
text-align: center;
}

.scroll-direcion-container {
  width: 100%;
  position: absolute;
  bottom: 5%;
  z-index: 2;
  color: #DAA520;
  display: block;
  text-align: center;
  font-style: italic;
}

.scroll-direcion-container p {
  color: #DAA520;
}



/*-images--*/


.project-header-image {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}

.project-header-image.mercedes-benz {

  background-image: url("../images/mercedes-benz-header.jpg");
}

.project-header-image.dlapiper {

  background-image: url("../images/dlapiper-header.jpg");
}


.project-header-image.ccl {

  background-image: url("../images/ccl-header.jpg");
}

.project-header-image.metpolice {

  background-image: url("../images/metpolice-header.jpg");
}

.project-header-image.boots {
  background-image: url("../images/boots-header.jpg");
  background-position: left;

}

.project-header-image.jlr {
  background-image: url("../images/jlr-header.jpg");
  background-position: center;

}
.project-header-image.oneeighteight-Bet{
  background-image: url("../images/188bet-header.jpg");
  background-position: center;
}
.project-header-image.soapbox{
  background-image: url("../images/soapbox_header.jpg");
  background-position: center;
}

.project-header-image.find-a-pet{
  background-image: url("../images/find-a-pet-header.jpg");
  background-position: center;
}

.project-header-image.ic24{
  background-image: url("../images/ic-header.jpg");
  background-position: center;
}

.project-header-image.ccl{
  background-position: center;
}

.project-header-image.vodafone{
  background-image: url("../images/vf-header.jpg");
  background-position: center;
}

/*--information-*/

/*--info-1*/

.project-information-main {
  background-color: #000326;
  width: 100%;
  position: relative;
  float: left;
  display: block;
  color: white;
  z-index: 1;
}

.project-information-container{
  position: relative;
  margin: auto;
  padding: 8% 0;
  width: 60%;



}

.project-paragraph-container {
  color: #e8e8e8;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 5%;
}

.project-button-container {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 12%;
}

.project-details-container {
  color: #e8e8e8;
  width: 100%;
  position: relative;
  margin: auto;
  height: auto;
  display: table;
}

.column-one,
.column-two,
.column-three{
display: table-cell;
text-align: left;
}

.column-one em,
.column-two em,
.column-three em {
  color: #DAA520;
  font-style:normal;
  font-weight: 100;
  font-size: 15px;
  opacity: 1;

}

.column-one p,
.column-two p,
.column-three p {
  font-weight: 900;
  font-size: 18px;
}


.project-images {

  width: 100%;
  position: relative;
  float: left;
  display: block;
}

.project-image-one,
.project-image-two,
.project-image-three,
.project-image-four,
.project-image-five {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 0;
  overflow: hidden;
}



.project-image-three,
.project-image-six{
}


.project-image-one img,
.project-image-two img,
.project-image-three img,
.project-image-four img,
.project-image-five img,
.project-image-five video,
.project-image-six video,
.project-image-seven img{
  width: 65%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-image-three img,
.project-image-six img {
  width: 70%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.project-section-color-change{
background: #000333;
}

.project-image-two.mercedes-benz-images img{
  width: 55%;
}


.project-copy-seperator {
  /* background: #000333; */
  width: 100%;
  position: relative;
  display: block;
  /* color: #DAA520; */
  z-index: 8;
  padding: 8% 0;
}

.project-copy-seperator .project-paragraph-container{
  width: 60%;
  position: relative;
  margin: auto;
}

.project-paragraph-container h4 {
  color: #DAA520;
}


/*-----Mercedes-benz-----*/


.project-image-four.fade-in.mercedes-benz-images img,
.project-image-five.fade-in-delay.mercedes-benz-images img,
.project-image-seven.fade-in.mercedes-benz-images img,
.project-image-eight.fade-in-delay.mercedes-benz-images img{
  width: 60%;
  position: relative;
  display: block;
}

.project-image-seven.fade-in.mercedes-benz-images img,
.project-image-four.fade-in.mercedes-benz-images img{
  right: 0;
  float: right;
  margin-right: 5%;
}

.project-image-eight.fade-in-delay.mercedes-benz-images img,
.project-image-five.fade-in-delay.mercedes-benz-images img{
  left: 0;
  float: left;
  margin-left: 5%;
}

.project-image-four.fade-in.mercedes-benz-images,
.project-image-five.fade-in-delay.mercedes-benz-images,
.project-image-seven.fade-in.mercedes-benz-images,
.project-image-eight.fade-in-delay.mercedes-benz-images{
  width: 50%;
  position: relative;
  display: inline-block ;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-bottom: 5%
}


/*-----DLA-Piper-----*/



/* .project-image-three.fade-in.dlapiper-images img{
  width: 40%;

} */


.project-image-four.fade-in.dlapiper-images img{
    width: 65%;
}





.project-image-three.fade-in.dlapiper-images{
  background: none;
  z-index: 3;
  overflow: hidden;
  padding-bottom: 0;
}


.project-image-five.fade-in.dlapiper-images,
.project-image-six.fade-down.dlapiper-images{
  width: 50%;
  position: relative;
  display: inline-block ;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.project-image-five.fade-in.dlapiper-images img{
  right: 0;
  float: right;
  margin-right: 5%;
}

.project-image-six.fade-down.dlapiper-images img{
  left: 0;
  float: left;
  margin-left: 5%;
}

.project-image-five.fade-in.dlapiper-images img,
.project-image-six.fade-down.dlapiper-images img{
  width: 60%;
  position: relative;
  display: block;
}


/*-----Metpolice-----*/

.project-image-three.fade-in.metpolice-images,
.project-image-six.fade-in.metpolice-images{
  background: none;
}

.project-image-three.fade-in.metpolice-images img,
.project-image-six.fade-in.metpolice-images img {
  width: 65%;

}


/*-----boots-----*/

.project-image-two.fade-in.boot-images img,
.project-image-three.fade-down.boot-images img{
  width: 60%;
  position: relative;
  display: block;
}

.project-image-two.fade-in.boot-images img{
  right: 0;
  float: right;
  margin-right: 5%;
}

.project-image-three.fade-down.boot-images img{
  left: 0;
  float: left;
  margin-left: 5%;
}

.project-image-two.fade-in.boot-images,
.project-image-three.fade-down.boot-images{
  width: 50%;
  position: relative;
  display: inline-block ;
  margin-left: auto;
  margin-right: auto;
  float: left;
}



/*----JLR-----*/

.project-image-two video {
  width: 65%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*-----188bet-----*/

.project-image-three.fade-in.oneeighteight-Bet-images img{
  width: 50%;
}


/*------project-footer-----*/



/* .project-footer {
    float: left;

    width: 100%;
    background: black;
}


 .footer-buttons {
  margin: 0, 10;
}

.footer-buttons p{
font-weight: 700;
color: #e8e8e8;
text-transform: uppercase;
letter-spacing: 0.2em;
}

.footer-buttons.previously{
  float: left;
  text-align: left;
  margin: 1% 20%;
}

.footer-buttons.next{
  float: right;
  text-align: right;
  margin: 1% 20%;
} */



/*------encrypted-page--------*/
.staticrypt-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 0.1px solid #DAA520;
}

.staticrypt-page {
    width: 100%;
    height: 100vh;
    padding: 8% 0 0;
    margin: auto;
    box-sizing: border-box;
    z-index: 3000;
    position: absolute;
    background: #000333;
    font-family:'Catamaran', sans-serif;
}

.staticrypt-form {
    position: relative;
    z-index: 1;
    background: #000326;;
    max-width: 50%;
    margin: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.staticrypt-form input {
    outline: 0;
    background: #e8e8e8;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000326;
}
.staticrypt-form type{
  color:#DAA520;
  opacity: 1;
}
.staticrypt-form .staticrypt-decrypt-button {
    text-transform: uppercase;
    outline: 0;
    background: #DAA520;;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #000326;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
}

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {

}

.staticrypt-html {
    height: 100%;
}

.staticrypt-body {
    margin-bottom: 1em;

    position: fixed;
    /* font-family: "Arial", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.staticrypt-instructions {
    margin-top: -1em;
    margin-bottom: 1em;
}

.staticrypt-title {
    font-size: 1.5em;
}

.staticrypt-footer {
    position: fixed;
    height: 20px;
    font-size: 16px;
    padding: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.staticrypt-footer p {
    margin: 2px;
    text-align: center;
    float: right;
}

.staticrypt-footer a {
    text-decoration: none;
}

.project-prototype {

  margin:auto;
  position: relative;
  width: fit-content;
  padding-bottom: 10%;
}

.desktop-prototype {
  display: block;
}
